/* Search bar Styles Design */
.search_parent {
    display: flex;
    width: 620px;
    height: 80px;
    background-color: #FFFFFF;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    opacity: 1;
    margin-left: 18px;
}

.search-first-child,
.search-secound-child {
    display: flex;
    color: #9A9A9E;
    gap: 10px;
    cursor: pointer;
}

/* Search bar Styles Design */

.midlepage_parent_div {
    width: 620px;
    height: 550px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 1.5rem;
    opacity: 1;
    margin-left: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    padding: 1rem;

}


.midlepage_first_child {
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.midlepage_first_child div {
    display: flex;
    gap: 10px;


}

.midlepage_first_child .div_child {
    display: flex;
    flex-direction: column;
}

.div_child>p {
    color: #101010;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.div_child>span {
    letter-spacing: 0px;
    color: #8D8D8D;
    font-size: 14px;
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;
}

.midlepage_first_child>span {
    font-size: 2rem;
    cursor: pointer;

}

.post_section {
    display: flex;
    flex-direction: column;
}

.post_Image {
    width: 560px;
    height: 306px;
}

.post_icon {
    display: flex;
    gap: 1rem;
    /* padding-top: 1rem; */
}

.post_icon>div {
    display: flex;
    gap: 1rem;
    font-weight: 550;


}

.post_icon>div>img {
    width: 22px;
    height: 22px;
    cursor: pointer;
    opacity: 0.8;



}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post_icon>div>p {
    letter-spacing: 0px;
    color: #101010;
    opacity: 0.8;
    font-size: 20px;


}

.change_position {
    width: 24px;
    height: 22px;
    position: relative;
    bottom: 270px;
    left: 510px;
}

.post_section>p {

    opacity: 0.5;
    color: #101010;
    font-size: 13px;
    font-weight: 550;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    padding-bottom: 5px;
}

.post_section>p>span {

    background-color: red;
    color: #FF5E8A;
    font-weight: bold;
    padding: 1px;

}

@media(max-width:781px) {


    .midlepage_parent_div {
        width: 520px;
        margin: 1rem;
    }


    .search_parent {
        width: 520px;
    }

    .post_Image {
        width: 490px;
        height: 306px;
    }
}

@media(max-width:640px) {
    /* .search_parent {
        width: 300px;
    } */
}

@media(max-width:1200px) {
    .midlepage_parent_div {
        width: 450px;
    }

    .post_Image {
        width: 430px;
    }

    .change_position {

        position: relative;
        /* bottom: 270px; */
        left: 380px;

    }

}

@media(max-width:700px) {
    .search_parent {
        width: 300px;
    }

    .post_Image {
        width: 420px;
        padding: 0;
    }

    .search_parent {
        width: 450px;
    }
}