* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

.App {
    height: 1800px;
    /* width: 100%; */
    background-color: #F5F5F5;
    padding: 2rem 7rem;
}

@media(max-width:1200px) {
    .App {
        height: 2000px;
        /* width: 100%; */
        padding: 0px 0px;
    }
}

@media(max-width:546px) {
    .App {

        width: 150vw;
        padding: 0;
    }
}